main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: rgb(33, 37, 41);
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.indexTitle-title {
    padding-bottom: 10px;
    padding-top: 25px;
    color: black;
}

.form-group {
    margin-bottom: 1rem;
}


  .fly-in-text {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: slide 5s linear ;
  }

  @keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

a {
    text-decoration: none;
    color: lightgray;
}

footer {
    margin-top: 30px;
}

footer a {
    font-size: 20px;
    padding-right: 30px;
}

.catalogPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}


.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

/* Изображение товара */
.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Информация о товаре */
.product-info {
    padding: 16px;
}

/* Название товара */
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Цена товара */
.product-price {
    font-size: 16px;
    color: rgb(33, 37, 41);
    margin-bottom: 16px;
}

/* Кнопка "Добавить в корзину" */
.add-to-cart {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: rgb(33, 37, 41);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Заголовок и стилизация кнопки */
.product-card-header {
    background-color: rgb(33, 37, 41);
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}


  